<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs %>
    <base target="_parent">
    <style>
        img {
    width: 100%;
    height: auto;
}
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-sm-6 justify-content-md-center">
            <img src=<%= image1 %> class="img-responsive">
            <% for( let i = 0; i < tags1.length; i++ ) { %>
            <a type="button" class="btn btn-lg btn-default" href="/tag?tagid=<%- tagids1[i]%>"> <%- tags1[i]%></a>
            <% } %>
        </div>
        <div class="col-sm-6 justify-content-md-center">
            <img src=<%= image2 %> class="img-responsive">
            <% for( let i = 0; i < tags2.length; i++ ) { %>
            <a type="button" class="btn btn-lg btn-default" href="/tag?tagid=<%- tagids2[i]%>"> <%- tags2[i]%></a>
            <% } %>
        </div>
    </div>
</body>

</html>