<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src="/client-js/index-frontend.js" type="module"></script>
  <div class="container-fluid" style="width:90%">
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12 bg-left" id="left-bar">
          <h3 style="text-align: center;">Select tag to vote for</h3>
          <div id="tag-list">
            <% for(let i=0;i<tags.length;i++){ %>
            <% if(tags[i].id==(user?user.selectedtag:cookieTag)){ %>
            <a href="/API/changeTagId?newid=<%= tags[i].id %>"
              class="changetag btn btn-primary btn-sm"><%= tags[i].tag %></a>
            <% }else{ %>
            <a href="/API/changeTagId?newid=<%= tags[i].id %>"
              class="changetag btn btn-sm btn-default"><%= tags[i].tag %></a>
            <% } %>
            <% } %>
          </div>
          <br> Click on the better picture of the two to vote for it. If you are logged in, you gain one point
          per vote. With points, your level increases which then allows you to add/change tags, upload
          pictures, add descriptions
          and more, which award more points.<br>
          <h6>
            <% for (let i=0;i<rankingData.pointBreaks.length-1;i++){ %>
            &lt;<%= rankingData.pointBreaks[i] %> points :
            <%= rankingData.ranks[i] %><br>
            <% } %>
          </h6>
          <% if(user){if(user.admin) {%>
          <div id="admin-options">
            <h3> Admin Options </h3>
            <a href="/upload" class="btn btn-sm btn-success">Upload files</a>
            <button onclick="askForThread()">Set thread to download</button>
            <script>
              function askForThread() {
                const thread = prompt("Thread url:", "");
                if (!(thread == null || thread == "")) {
                  document.getElementById('dlbtn').href = '/API/download?thread=' + thread;
                  document.getElementById('dlbtn').classList = "btn btn-sm btn-success";
                }
              }
            </script>
            <a id="dlbtn" href="/" class="btn btn-sm btn-success hidden">Download thread</a>
            <a href="/showreports" class="btn btn-sm btn-warning">Show reported problems</a>
          </div>
          <%}}%>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 bg-mid">
            <div class="row">
              <div class="col-sm-6" id='leftpictainer'>
                <div class="loading-placeholder" id='txt0'>Loading...</div>
                <img id="img0" class="img-responsive" style="width:100%">
                <video id="vid0" width="100%" muted autoplay loop style="display:none">
                  <source id="src0" type='video/webm' style="display:none">
                </video>
                <div id='tags1' class="tags-list"></div>
                <hr>
                <div id='no-priviledge-controls1' class="inline-div"></div><br>
                <% if(user){%>
                <%if(user.level>1){%>
                <div id="level1-controls1" class='inline-div'></div>
                <%}if(user.level>2){%>
                <div id="level2-controls1" class='inline-div'></div>
                <%}if(user.level>3){%>
                <div id="level3-controls1" class='inline-div'></div>
                <%}if(user.level>4){%>
                <div id="level4-controls1" class='inline-div'></div>
                <%}if(user.level>5){%>
                <div id="level5-controls1" class='inline-div'></div>
                <%}if(user.level>6){%>
                <div id="level6-controls1" class='inline-div'></div>
                <%}if(user.level==10){%>
                <br><div id="admin-controls1" class='inline-div'></div>
                <%}}%>
              </div>
              <div class="col-sm-6" id='rightpictainer'>
                <div class="loading-placeholder" id='txt1'>Loading...</div>
                <img id="img1" class="pull-right img-responsive"
                  style="width:100%">
                <video id="vid1" width="100%" muted autoplay loop style="display:none">
                  <source id="src1" type='video/webm' style="display:none">
                </video>
                <div id='tags2' class="tags-list"></div>
                <hr>
                <div id='no-priviledge-controls2' class="inline-div"></div><br>
                <% if(user){%>
                <%if(user.level>1){%>
                <div id="level1-controls2" class='inline-div'></div>
                <%}if(user.level>2){%>
                <div id="level2-controls2" class='inline-div'></div>
                <%}if(user.level>3){%>
                <div id="level3-controls2" class='inline-div'></div>
                <%}if(user.level>4){%>
                <div id="level4-controls2" class='inline-div'></div>
                <%}if(user.level>5){%>
                <div id="level5-controls2" class='inline-div'></div>
                <%}if(user.level>6){%>
                <div id="level6-controls2" class='inline-div'></div>
                <%}if(user.level==10){%>
                <br><div id="admin-controls2" class='inline-div'></div>
                <%}}%>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-12 bg-right" id="right-bar">
          <h3 style="text-align: center;">Tag Leaderboard</h3>
          <div id='tag-leaderboard'></div>
          <h3 style="text-align: center;">Global Leaderboard</h3>
          <div id='global-leaderboard'></div>
        </div>
      </div>
    </div>
</body>
<% include ../partials/footer.ejs %>
</html>