<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src="/client-js/index-frontend.js" type="module"></script>
  <div class="container-fluid" style="width:90%">
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12 bg-left" id="left-bar">
          <% if(user){ %>
          <h3 style="text-align: center;">Select tag to vote for</h3>
          <div id="tag-list">
            <% for(let i=0;i<tags.length;i++){ %>
            <% if(tags[i].id==user.selectedtag){ %>
            <a href="/changeTagId?newid=<%= tags[i].id %>"
              class="changetag btn-primary btn-sm btn-default"><%= tags[i].tag %></a>
            <% }else{ %>
            <a href="/changeTagId?newid=<%= tags[i].id %>"
              class="changetag btn btn-sm btn-default"><%= tags[i].tag %></a>
            <% } %>
            <% } %>
          </div>
          <% } %>
          <br>
          Click on the better picture of the two to vote for it. If you are logged in, you gain one point per vote. With
          points, your level increases which then allows you to add/change tags, upload pictures, add descriptions and
          more, which award more points.<br>
          <h6>
          <% for (let i=0;i<rankingData.pointBreaks.length-1;i++){ %>
          <%= rankingData.pointBreaks[i] %> points : <%= rankingData.ranks[i] %><br>
          <% } %>
        </h6>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 bg-mid">
            <div class="row">
              <div class="col-sm-6" id='leftpictainer'>
                <img src="https://via.placeholder.com/200" id="leftpic" class="img-responsive" style="width:100%">
                <div id='tags1'></div>
              </div>
              <div class="col-sm-6" id='rightpictainer'>
                <img src="https://via.placeholder.com/200" id="rightpic" class="pull-right img-responsive"
                  style="width:100%">
                <div id='tags2'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-12 bg-right" id="right-bar">
          <h3 style="text-align: center;">Leaderboard</h3>
          <ul>
            <% for(let i=0;i<top10.length;i++){ %>
            <li><a href="<%= prefix+top10[i].filename %>">Number <%=i+1%></a> (<%= top10[i].votes%>/<%=top10[i].views%>
              - <%= top10[i].score.toFixed(2) %>)</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
</body>

</html>