<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class='tag-gallery'>
    <% for(let i=0;i<picList.length;i++){ %>
    <a href="<%= prefix+'?picid='+picList[i].id %>">
      <div class='tag-group'>
        <div class='tag-image'>
          <% if(picList[i].filename.split('.')[1]==='webm') {%>
          <img src='<%=urlPrefix+picList[i].filename.split('.')[0]%>.png'>
          <%}else{%>
          <img src='<%=urlPrefix+picList[i].filename%>'>
          <%}%>
        </div>
        <div class='tag-txt'>
          <%=picList[i].description%><br>
          (<%= picList[i].votes%>/<%=picList[i].views%> - <%= picList[i].score.toFixed(2) %>)
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
<% include ../partials/rightad.ejs %>
<% include ../partials/leftad.ejs %>
<% include ../partials/stickyad.ejs %>
<% include ../partials/footer.ejs %>

</html>